.table-minimal {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; }
  .table-minimal tbody tr:hover > td, .table-minimal tbody tr:hover > th {
    background-color: #fafafa; }
  .table-minimal tbody tr:first-child td {
    border-top: 2px solid gainsboro; }
  .table-minimal thead th {
    background-color: white;
    border-bottom: 0;
    padding: 0.75em 1em;
    text-align: left; }
  .table-minimal tbody {
    background-color: white; }
    .table-minimal tbody td {
      border-bottom: 0;
      border-top: 1px solid gainsboro;
      line-height: 1.5em;
      padding: 0.75em 1em; }

.App::after {
  clear: both;
  content: "";
  display: block; }

#stockTable .reactable-filterer .reactable-filter-input {
  color: #999;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #eee;
  box-shadow: none;
  left: calc(33.33333% - 26.66667px + 20px);
  position: relative;
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px; }
